*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.title_container, .footer_container {
    background-color: #962121;
    color: #ffffff;
    padding: 15px 25px;
}

.main_section {
    padding: 40px 25px;
}

a {
    text-decoration: none;
    font-size: 13.3333px;
}

.input_text {
    display: flex;
    flex-direction: column;
    /*max-width: 300px;*/
}

.input_text input{
    padding: 5px;
    outline-color: #382e2e;
}

.input_text label {
    margin-bottom: 5px;
}

.button {
    padding: 15px 20px;
    background-color: #382e2e;
    border-style: none;
    border-radius: 10px;
    color: #fff;
}

.button:nth-child(n+2) {
    margin-left: 10px;
}

.button:hover {
    cursor: pointer;
}
